{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fpower1</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles.css' %}"></head>
<body>
  <app-root>
      <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  </app-root>
<script type="text/javascript" src="{% static 'runtime-es2015.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'polyfills-es2015.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'runtime-es5.js' %}" nomodule></script>
<script type="text/javascript" src="{% static 'polyfills-es5.js' %}" nomodule></script>
<script type="text/javascript" src="{% static 'scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'main-es2015.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'main-es5.js' %}" nomodule></script>
<script type="text/javascript" src="{% static '1-es5.js' %}"></script>
<script type="text/javascript" src="{% static '1-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '5-es5.js' %}"></script>
<script type="text/javascript" src="{% static '5-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '6-es5.js.js' %}"></script>
<script type="text/javascript" src="{% static '6-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '7-es5.js' %}"></script>
<script type="text/javascript" src="{% static '7-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '8-es5.js' %}"></script>
<script type="text/javascript" src="{% static '8-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '9-es5.js' %}"></script>
<script type="text/javascript" src="{% static '9-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '10-es5.js' %}"></script>
<script type="text/javascript" src="{% static '10-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '11-es5.js' %}"></script>
<script type="text/javascript" src="{% static '11-es2015.js' %}"></script>
<script type="text/javascript" src="{% static '12-es5.js' %}"></script>
<script type="text/javascript" src="{% static '12-es2015.js' %}"></script>
</body>
</html>
